/* footer start */
#footer {
	background-color: #eee;
}
#footer a {
	text-decoration: none;
}
/* footer end */

/* bottom footer start */
.bootom-footer {
	background-color: #3e4095;
	color: #fff;
}
.bootom-footer .disclaimer a {
	text-decoration: none;
}
/* bottom footer end */