/* header */
header {
	height: 120vh;
	background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url("../../../assets/images/banner.jpg") no-repeat
	center center /cover;

}

/* header end */

/* Banner */
	.banner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
	}

	.banner-heading {
		animation: anim;
		animation-duration: 3s;
	}

	.banner-para-1 {
		animation: anim-2;
		animation-duration: 3s;
	}

	.banner-para-2 {
		animation: anim;
		animation-duration: 3s;
		animation-delay: .5s;
		animation-fill-mode: backwards;
	}
	.nav-menu{
		padding-top:20px;
	}

	@keyframes anim {
		0% {
			transform: translateX(-100px);
			opacity: 0;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes anim-2 {
		0% {
			transform: translateX(100px);
			opacity: 0;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
/* Banner end */



/* Navbar start */
	.nav-link {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0px 12px !important;
  color: #fff !important;
  transition: color .5s;
  text-align: center !important;
}

@media only screen and (max-width: 767px)
{
	 .navbar-nav {
		background: #3e4095;
		height: 230px !important;
		}
		.navbar {
  position: fixed !important;
	z-index: 1000 !important;
	height: 150px !important;
  width: 100% !important; 
	background: transparent !important;
	padding: 40px !important;
	-webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s !important;
}

}
 
/* Navbar end */

/*  all section start */
	section {
		padding: 20px 0px
	}
	.hr-tag {
		border-top: 1px solid #eee;
	}
/* all section end */

/* About start */