<!-- About Us Start -->
<section id="about">
    <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h1 class="title"> {{aboutUs}} </h1>
        <p class="text-justify"><b>'Home'</b> Even though this word is uttered, it feels like the warmth of the mother, the consciousness of 
          her own existence and the security of your family's dream of achieving their dreams! And it helps us to finish it all the <b>‘Maitri
             Developers'</b> and that has been proven by many to this day. There is always something better that can be done from happy 
             families in the completed project Inspiration is bringing friendship with developers.<br>
        <b>‘Maitri Gold'</b> project Where your dreams start to come true, here is where everyone in your family gets their fantasy home, 
        where we build the true meaning of the word intimacy, faith and home! That is why we say the beginning of the Golden Age '...!<br>
        Gold<br>
        The beginning of the golden age.!
        Another reason to take a home on the <b>‘Maitri Gold'</b> project is to help you stay healthy. 
        One such specialty is the swimming pool, the gym
        And affordable housing in the area, plus a clubhouse where you can have small events and a special place for children to play,
        Which have different toys Where children can play safely so everyone in your family will enjoy all the happiness!


</p>
      </div>

      <div class="col-md-6" style="padding-top:65px;">
        <img src="../../../assets/images/about-us.jpg" class="img-responsive" style="height:auto;width:100%;">
      </div>

    </div>
  </div>
  </section>
  <!-- About Us End -->